<main>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark text-white">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Library Manager</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link text-white active" aria-current="page">Home</a></li>
      <li class="nav-item" *ngIf="true"><a href="/books" class="nav-link text-white">Books</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">Categories</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">Authors</a></li>
    </ul>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>